@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@100&family=Goldman:wght@400;700&family=Press+Start+2P&display=swap');

body {
  background-image: url(https://images.pexels.com/photos/3829227/pexels-photo-3829227.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-position: -1500px;
}

#header-division {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: 'Press Start 2P';
  color: rgb(82,175,82);
}

p {
  max-width: 720px;
  font-family: 'Big Shoulders Stencil Text';
  color: rgb(82,175,82);
  font-size: 25px;
  text-align: center;
  background: rgba(0,0,0,0.7);
  border: solid;
  padding: 5px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  background: rgba(0,0,0,0.7);
  border: solid;
  opacity: 1;
  font-family: 'Goldman';
  font-size: 20px;
  padding: 50px;
  max-width: 720px;
  margin: auto;
  color: rgb(255,110,199);
}

.center {
  display: flex;
  justify-content: center;
}

#name {
  align-self: center;
}

.margin {
  margin: 5px;
}

#comments-division {
  display: flex;
  margin: 5px 5px 5px 0px;
}

#comments {
  min-height: 130px;
  width: 800px;
}

#submit {
  text-align: center;
  width: 150px;
  border: solid;
  background-color: rgba(0,0,0,0.7);
  color: rgb(255,110,199);
}